<h1>Stupid Coaching</h1>

<div class="question-asked">
<p><%= params[:question] %></p>
<p> -You</p>
</div>

<div class="answer-provided">
<p><%= @answer %></p>
<p> -Your coach</p>
</div>

<div class="link">
<%= link_to "Ask another question", ask_path %>
</div>
